/* navbar */

.toggle-button {
    display: none;
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .toggle-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        border-top: 1px solid white;
    }

    .navbar-links-mobile {
        display: block;
    }

    .navbar-links li:active {
        background-color: #555555;
    }
}

/* description and category */

@media (max-width: 1000px) {
    .desc-content {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .desc-img, .desc-text {
        width: 75vw;
    }
}


@media (max-width: 700px) {
    .category-content {
        flex-direction: column;
    }

    .category-item {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .desc-content {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .desc-img {
        width: 100vw;
    }

    .desc-text, .category-content{
        width: 85vw;
    }

    h2 {
        font-size: 2rem;
    }
}