* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: .5rem;
    background-color: #292b2c;
}

.navbar-title {
    font-size: 1.5rem;
    margin: .5rem;
    font-weight: bold;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555555;
}

.navbar-button {
    padding: .5rem 1rem;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 1rem;
    background-color: #0d6efd;
}

.main {
    padding: 10px;
}

/* description */

.desc {
    display: flex;
    justify-content: center;
    width: 100%;
}

.desc-content {
    display: flex;
    gap: 20px;
    width: 75vw;
}

.desc-img  {
    width: 50%;
}

.desc-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    text-align: justify;
}

/* category */

.category {
    display: flex;
    justify-content: center;
    width: 100%;
}

.category-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 75vw;
}

.category-item {
    width: 50%;
}

.category-content p {
    text-align: justify;
}
